

*{
    --floral-white: #Fef9ef;
    --cerulean: #227c9d;
    --sea-green: #17c3b2;
    --apricot: #ffcb77;
    --grapefruit: #fe6d73;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--floral-white);
}

.container{
   display: flex;
   justify-content: center;
    align-items: center;
    width : 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    border-radius: 20px;
    background-color: var(--cerulean);
}

.todo-app h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.stat-container{
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--floral-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details{
    width: 100%;
}

.details h3{
    color: black
}
#progressBar{
    width: 100%;
    height: 7px;
    background: var(--sea-green);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress{
    width:  0%;
    height: 100%;
    background: var(--grapefruit);
    border-radius: 20px;
    transition: width 0.3s ease;
}

#numbers{
    color: var(--sea-green);
}
    
.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input{
   flex: 1;
   padding: 10px 17px;
   font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background-color: var(--floral-white);
}

.input-area button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: var(--floral-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-area button:hover{
    transform: scale(1.1);
    background-color: var(--apricot);
}

.todo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskList{
    width: 100%;
}

#taskList li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sea-green);
    margin-bottom: 10px;
    padding: 8px, 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color:white;
    position: relative;
    transition: box-shadow 0.3s ease;
}
#taskList li:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#taskList li .checkbox{
    min-width: 20px;
    height: 20px;
    border: 2px, solid white;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    transition: all 0.3s ease;
}

#taskList li .checkbox:checked{
    background: var(--grapefruit);
    transform: scale(1.2);
}

#taskList li span{
    flex: 1;
    margin-left: 15px;
    word-wrap: break-word;
}

#taskList li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-buttons{
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.task-buttons button{
    background: var(--sea-green);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-buttons button:hover{
    transform: scale(1.2);
}

.task-buttons .edit-btn{
    background-color: var(--apricot);
}
.task-buttons .delete-btn{
    background-color: var(--grapefruit);
}